.DS_Store
*.o
megaphone
phonebook
dreaming
zombies
zombieHorde
hi
violent
replace
harl
harlFilter
fixed
point
ClapTrap
ScavTrap
FragTrap
DiamondTrap
Animal
magic
Bureaucrat
Form
home_shrubbery
convert
